<!DOCTYPE html>
<html>
<head>
    <title>Administrar Personas</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<h2>Lista de Personas Registradas</h2>

<table border="1">
    <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Acción</th>
    </tr>

    {% for persona in registros %}
    <tr>
        <td>{{ persona[1] }}</td>
        <td>{{ persona[2] }}</td>
        <td>{{ persona[3] }}</td>
        <td>{{ persona[4] }}</td>
        <td>{{ persona[5] }}</td>

        <td>
            <form action="/eliminar/{{ persona[1] }}" method="POST">
                <button type="submit">Eliminar</button>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>

<br>

<a href="/">Volver al Registro</a>

</body>
</html>